<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Runnig EJS file</title>
  </head>
  <body>
    <h1> Hello <%=testValue%> </h1>

    <form  action="/" method="post">
      <p>Please write the product's information:</p>
      <input type="text" name="product" placeholder="Product">
      <input type="text" name="brand" placeholder="Brand">
      <input type="text" name="model" placeholder="Model">
      <input type="number" name="amount" placeholder="Amount">
      <button type="submit" name="button">create new inventory!</button>
    </form>



  </body>
</html>
