<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Runnig EJS file</title>
  </head>
  <body>
    <h1> Add New Item </h1>


  <table>
    <tr>
      <th>Services:</th>
    </tr>
    <tr>
      <td>
        <button type="button" name="button">
          <a href="/search">Search</a>
        </button>
      </td>
      <td>
        <button type="button" name="button">
          <a href="/show">Show all items</a>
        </button>
      </td>

    </tr>
  </table>



    <form  action="/" method="post">
      <p>Please input the needed information:</p>
      <input type="number" name="barcode" placeholder="barcode">
      <input type="number" name="quantity" placeholder="quantity">
      <br>
      <p>Location information:</p>
      <input type="number" name="floor" placeholder="floor">
      <input type="text" name="shelf" placeholder="shelf">
      <input type="Number" name="level" placeholder="level">
      <br>
      <p>Product's inforamtion:</p>
      <input type="text" name="product" placeholder="type of the product">
      <input type="text" name="brand" placeholder="brand">
      <input type="text" name="name" placeholder="name or model">
      <br>
      <button type="submit" name="button">create new inventory!</button>
    </form>



  </body>
</html>
