<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Runnig EJS file</title>
  </head>
  <body>
    <h1> Hello <%=testValue%> </h1>

    <form  action="/" method="post">
      <input type="text" name="postRequestTest" placeholder="Write something please">
      <button type="submit" name="button">Click Me!</button>
    </form>

    
  </body>
</html>
