<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Page!</title>
</head>

<body>

  <body>
    <h1> Search: </h1>


  <table>
    <tr>
      <th>Services:</th>
    </tr>
    <tr>
      <td>
        <button type="button" name="button">
          <a href="/">Add Item</a>
        </button>
      </td>
      <td>
        <button type="button" name="button">
          <a href="/show">Show all items</a>
        </button>
      </td>

    </tr>
  </table>
  <!-- Duplicate -->

  <table>
    <form action="/results" method="get">
<tr>
  <th><h3>Base on Barcode</h3></th>
</tr>

  <tr>
    <th>Barcode:</th>
    <td>
      <input type="number" name="barcode" placeholder="barcode">
    </td>
  </tr>

      <tr>
        <th>
          <h3> Base on Product</h3>
        </th>
      </tr>
      <tr>
        <th>Product</th>
        <td>
          <input type="text" name="product" placeholder="type of the product">
        </td>
      </tr>
      <tr>
        <th>Brand</th>
        <td>
          <input type="text" name="brand" placeholder="brand">
        </td>
      </tr>
      <tr>
        <th>Model</th>
        <td>
          <input type="text" name="name" placeholder="name or model">
        </td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>
          <input type="number" name="quantity" placeholder="quantity">
        </td>
      </tr>
      <tr>
        <th>
          <h3>Based on Location</h3>
        </th>
      </tr>
      <tr>
        <th>Floor</th>
        <td>
          <input type="number" name="floor" placeholder="floor">
        </td>
      </tr>
      <tr>
        <th>Shelf</th>
        <td>
          <input type="text" name="shelf" placeholder="shelf">
        </td>
      </tr>
      <tr>
        <th>level</th>
        <td>
          <input type="Number" name="level" placeholder="level">
        </td>
      </tr>

      <tr>
        <td>
          <button type="submit" >Search</button>
        </td>
      </tr>
    </form>
  </table>

</body>

</html>
